# Custom Spacy Rules

In [3]:
def generic_token(type="word", token=[], shape=[], number =[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="", is_followed_by_space="", is_required="true", is_in_output="true", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
    return {
        "type": type,
        "token": token,
        "shapes": shape,
        "numbers": number,
        "capitalization": capitalization,
        "part_of_speech": part_of_speech,
        "length": length,
        "minimum": minimum,
        "maximum": maximum,
        "prefix": prefix,
        "suffix": suffix,
        "is_required": is_required,
        "is_in_output": is_in_output,
        "is_out_of_vocabulary": is_out_of_vocabulary,
        "is_in_vocabulary": is_in_vocabulary,
        "contain_digit": contain_digit
    }
def word_token(token=[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="", is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="word", token=token, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)
    
def punctuation_token(token=[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="",  is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="punctuation", token=token, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)

def shape_token(shape=[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="",is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="shape", shape=shape, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)

def number_token(number =[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="",is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="number", number=number, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)

In [4]:
sampe_rules = {
  "rules": [
      {
      "identifier": "an indentifier",
      "description": "a description",
      "is_active": "true/false",
      "output_format": "",
      "pattern": [
        {
          "type": "word",
          "token": ["tOWN", "job"],
          "capitalization": ["title", "upper", "mixed", "lower", "exact"],
          "part_of_speech": ["noun", "pronoun", "NOT punctuation"],
          "length": [],
          "can_include_digits": "true/false",
          "prefix": "ssss",
          "suffix": "",
#           "is_followed_by_space": "true/false",
          "is_required": "false",
          "is_in_output": "true/false",
          "is_out_of_vocabulary": "true",
          "is_in_vocabulary":"",
          "contain_digit":""
        },
        {
          "type": "word",
          "token": [],
          "capitalization": ["lower", "upper", "mixed"],
          "part_of_speech": [],
          "length": [5, 7],
          "prefix": "SA",
          "suffix": "WF",
          "is_followed_by_space": "true/false",
          "is_required": "true",
          "is_in_output": "true/false",
          "is_out_of_vocabulary": "true",
          "is_in_vocabulary":"",
          "contain_digit":""
        },
        {
          "type": "word",
          "token": [],
          "capitalization": [],
          "part_of_speech": [],
          "length": [],
          "prefix": "EEW",
          "suffix": "RHI",
          "is_followed_by_space": "true/false",
          "is_required": "false",
          "is_in_output": "true/false",
          "is_out_of_vocabulary": "true",
          "is_in_vocabulary":"",
          "contain_digit":""
        },
        {
          "type": "number",
          "tokens": [],
          "length": [],
          "prefix": [],
          "suffix": [],
          "min":"",
          "max":"",
          "is_followed_by_space": "true/false",
          "is_required": "true/false",
          "is_in_output": "true/false"
        },
        {
          "type": "shape",
          "shapes": ["xxxx", "xxxxxx", "XXXXXdd.dddXXxxxxxxx"],
          "part_of_speech": [],
          "prefix": "ss",
          "suffix": "pp",
          "is_followed_by_space": "true/false",
          "is_required": "true",
          "is_in_output": "true"
        },
        {
          "type": "punctuation",
          "token": [",", "?"],
          "is_followed_by_space": "true/false",
          "is_required": "false",
          "is_in_output": "true"
        },
        {
          "type": "symbol",
          "token": [],
          "is_followed_by_space": "true/false",
          "is_required": "true/false",
          "is_in_output": "true/false"
        }
      ]
    }
  ]
}

In [5]:
import json
from etk.core import Core
c = Core()

In [6]:
# Text to test the rules
t = []
t.append(u"my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222")
t.append(u"Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda")
t.append(u"(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395")
t.append(u"-0466119200, -488019954,+32465863497 - , 0466119200")
t.append(u"74350 - 0642516048, 07 55 71 64 36 - ") 
t.append(u" + 49 15781424777, +( 49 )15732190888?")
t.append(u" 004915221040240")
t.append(u" 49( 0 )15771824788")
t.append(u" 111 2222, 111-3333")
t.append(u" UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 , ")
t.append(u" UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337, ")
t.append(u" UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 , ")
t.append(u" India: 111-2222222, 11111-33333, +91-111 222 3333")
t.append(u" China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444")
t.append(u" HK: 1111 2222, 33334444")
t.append(u" Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61  ")
t.append(u" Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444")




d = dict()
d['text'] = "\n".join(t)
d['simple_tokens_original_case'] = c.extract_tokens_from_crf(c.extract_crftokens(d['text'], lowercase=False))

print d

config = dict()
config['field_name'] = 'field02'

{'text': u'my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222\nHi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda\n(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395\n-0466119200, -488019954,+32465863497 - , 0466119200\n74350 - 0642516048, 07 55 71 64 36 - \n + 49 15781424777, +( 49 )15732190888?\n 004915221040240\n 49( 0 )15771824788\n 111 2222, 111-3333\n UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 , \n UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337, \n UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 , \n India: 111-2222222, 11111-33333, +91-111 222 3333\n China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444\n HK: 1111 2222, 33334444\n Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61  \n Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444', 'simple_tokens_original_case': [u'my', u'telephone', u'number', u'is', u'(', u'217', u')', u'331', u'-', u'6779', u',', u'(', u'217', u')', u'-', u'331', u'-', u'6778', u',', u'(', u'217', u')', u'-', u'331', u'-', u'6777', u',', u'217', u'-', u'331', u'-', u'6776', u',', u'734', u'.', u'709', u'.', u'8965', u',', u'949', u'484', u'6951', u',', u'5017774643', u',', u'664', u'123', u'45', u'67', u',', u'0660852222', u'\n', u'Hi', u'Gentlemen', u',', u'My', u'name', u'is', u'Ashley', u'.', u'my', u'name', u'Monica', u'I', u'am', u'the', u'one', u'and', u',', u'My', u'names', u'is', u'Alanda', u'\n', u'(', u'217', u')', u'-', u'331', u'-', u'6778', u',', u'(', u'044', u')', u'322', u'1719850', u',', u'044', u'322', u'1719851', u',', u'(', u'045', u')', u'322', u'1719850', u',', u'045', u'55', u'49', u'40', u'83', u'95', u',', u'045', u'-', u'55', u'-', u'49', u'40', u'83', u'94', u',', u'045', u'-', u'5549408395', u'\n', u'-', u'0466119200', u',', u'-', u'488019954', u',', u'+', u'32465863497', u'-', u',', u'0466119200', u'\n', u'74350', u'-', u'0642516048', u',', u'07', u'55', u'71', u'64', u'36', u'-', u'\n', u'+', u'49', u'15781424777', u',', u'+', u'(', u'49', u')', u'15732190888', u'?', u'\n', u'004915221040240', u'\n', u'49', u'(', u'0', u')', u'15771824788', u'\n', u'111', u'2222', u',', u'111', u'-', u'3333', u'\n', u'UK', u':', u'07077080500', u',', u'07741', u'011', u'066', u',', u'07014', u'-', u'231', u'-', u'011', u',', u'0751', u'011', u'41', u'92', u',', u'\n', u'UK', u':', u'(', u'022', u')', u'1111', u'2222', u',', u'(', u'0100', u')', u'000', u'1113', u',', u'(', u'01222', u')', u'22224', u',', u'(', u'01222', u')', u'333335', u',', u'(', u'0122', u'22', u')', u'3336', u',', u'(', u'0122', u'22', u')', u'33337', u',', u'\n', u'UK', u':', u'0121', u'-', u'111', u'2228', u',', u'0121', u'111', u'2229', u',', u'07111', u'222220', u',', u'0111', u'222', u'2221', u',', u'0500', u'111112', u',', u'0800', u'111113', u',', u'\n', u'India', u':', u'111', u'-', u'2222222', u',', u'11111', u'-', u'33333', u',', u'+', u'91', u'-', u'111', u'222', u'3333', u'\n', u'China', u':', u'(', u'0111', u')', u'1111', u'2222', u',', u'+', u'86', u'122', u'3333', u'4444', u',', u'0086', u'111', u'2222', u'3333', u',', u'+', u'86', u'111', u'222', u'33', u'444', u'\n', u'HK', u':', u'1111', u'2222', u',', u'33334444', u'\n', u'Japan', u':', u'(', u'011', u')', u'222', u'-', u'3333', u',', u'(', u'0120', u')', u'-', u'22', u'-', u'3333', u',', u'0570', u'-', u'22', u'-', u'3333', u',', u'0800', u'-', u'22', u'-', u'3333', u',', u'050', u'-', u'2222', u'-', u'3333', u',', u'+', u'61', u'\n', u'Austrilia', u':', u'(', u'01', u')', u'1111', u'2222', u',', u'+', u'61', u'42222', u'3333', u',', u'+', u'61', u'222', u'333', u'444', u',', u'1003', u'333', u'444']}

In [7]:
#US (217)-331-6777, 217-331-6776, 734.709.8965

rule_01 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_01
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333']

In [8]:
#US 7347098965

rule_02 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_02
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048']

In [9]:
#Canada (217)-331-6777, 217-331-6776, 734.709.8965

rule_03 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_03
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333']

In [10]:
#Canada 7347098965

rule_04 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_04
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048']

In [11]:
#Mexico (217)-331-6777, 217-331-6776, 734.709.8965

rule_05 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_05
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333']

In [12]:
#Mexico 7347098965

rule_06 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_06
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048']

In [13]:
#Mexico 217-331-67 76

rule_07 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_07
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['6641234567']

In [61]:
#Mexico (044) 322 1719850,044 322 1719851, (045) 55 1234 5678

rule_08 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number =["044", "045"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["ddddddd"],is_in_output="true")      
      ]
    }

field_rules = {
  "rules": [
      rule_08
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0443221719850', '0443221719851', '0453221719850']

In [62]:
#Mexico 045 55 49 40 83 95

rule_09 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number =["044", "045"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true")  
      ]
    }

field_rules = {
  "rules": [
      rule_09
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0455549408395', '0455549408394']

In [63]:
#Mexico 045 -5549408395

rule_10 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number =["044", "045"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["dddddddddd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_10
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0455549408395']

In [17]:
#Belgium 0466119200, -488019954,

rule_11 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddddddd"],is_in_output="true")

      ]
    }

field_rules = {
  "rules": [
      rule_11
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['488019954']

In [18]:
#Belgium 0466119200, (start with 04)

rule_12 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            number_token(minimum="400000000", maximum="499999999", length = [10], is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_12
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0466119200', '0466119200']

In [19]:
#Belgium 32465863497 -

rule_13 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["-","+"],is_required="false"),
            number_token(minimum="32400000000", maximum="32499999999",is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_13
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['32465863497']

In [20]:
#France 74350 - 0642516048 ,
rule_14 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_14
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['743500642516048']

In [21]:
#France 07 55 71 64 36 
rule_15 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_15
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['5549408395', '0755716436']

In [22]:
#Germany + 49 15781424756, +( 49 )15732190888?   
rule_16 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["+"],is_required="false"),
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            shape_token(shape =["ddddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_16
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['4915781424777', '4915732190888']

In [23]:
# Germany:004915221040240 start with 0049    
rule_17 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            number_token(minimum="4900000000000", maximum="4999999999999",is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_17
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['004915221040240']

In [24]:
#Germany 49( 0 )15771824788

rule_18 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            number_token(number =[49],is_in_output="true"),
            punctuation_token(token=["("],is_required="false"),
            number_token(number =[0],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            shape_token(shape =["ddddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_18
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['49015771824788']

In [25]:
#Ireland : 111 2222, 111-3333 XXX XXXX or XXX-XXXX   problem ???


rule_19 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_19
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['3316779',
 '3316778',
 '3316777',
 '3316776',
 '4846951',
 '3316778',
 '1112222',
 '1113333',
 '0001113',
 '1112228',
 '1112229',
 '2222221',
 '2223333',
 '1223333',
 '1112222',
 '2223333',
 '0502222']

In [26]:
#Uk 07077080500  


rule_19 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["ddddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_19
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['32465863497', '15781424777', '15732190888', '15771824788', '07077080500']

In [27]:
# UK : 07741 011 066, -07014-231- 011-,

rule_19 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_19
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['07741011066', '07014231011']

In [28]:
# UK: 0751 011 41 92

rule_20 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_20
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['07510114192']

In [29]:
# (02x) AAAA AAAA, 


rule_21 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="20", maximum="29",length = [3], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_21
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['02211112222']

In [30]:
# UK:(01xx) AAA BBBB,  
rule_22 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="100", maximum="199",length = [4], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_22
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01000001113', '01211112228', '01211112229', '01112222221']

In [31]:
# UK: (01xxx) AAAAA 
rule_23 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="1000", maximum="1999",length = [5], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_23
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0122222224']

In [32]:
# Uk: ,(01xxx) AAAAAA, 
rule_24 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="1000", maximum="1999",length = [5], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_24
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01222333335']

In [33]:
# Uk: (01xx xx) AAAA , 
rule_25 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="100", maximum="199",length = [4], is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_25
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0122223336']

In [34]:
# UK: (01xx xx) AAAAA, 
rule_26 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="100", maximum="199",length = [4], is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_26
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01222233337']

In [35]:
# UK: 01x1-AAA BBBB, 

rule_27 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            word_token(token=["0101","0111","0121","0131","0141","0151","0161","0171","0181","0191"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")

      ]
    }

field_rules = {
  "rules": [
      rule_27
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [36]:
#UK:  07AAA BBBBBB ,  

rule_28 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="7000", maximum="7999",length = [5], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_28
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['07111222220']

In [37]:
#UK: 0AAA BBB BBBB, 

rule_29 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="999",length = [4], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_29
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01000001113', '01211112228', '01211112229', '01112222221', '00861112222']

In [38]:
# UK: 0500 AAAAAA, 

rule_30 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="500", maximum="599",length = [4], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_30
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0500111112']

In [39]:
#UK: 0800 AAAAAA , 

rule_31 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="800", maximum="899",length = [4], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_31
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0800111113']

In [40]:
# Inida: AAA-BBBBBBB,

rule_32 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_32
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['3221719850', '3221719851', '3221719850', '1112222222']

In [41]:
# Inida: AAAAA-BBBBB, 
rule_33 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_33
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0122222224', '1111133333']

In [42]:
#Inida: +91-XXX YYY ZZZZ, 
rule_34 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=[91], is_in_output="true"),  
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_34
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['911112223333']

In [43]:
# China : (0XXX) YYYY YYYY, 
rule_35 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="999",length = [4], is_in_output="true"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_35
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['011111112222']

In [44]:
# China: +86 1xx XXXX YYYY,
rule_36 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=[86], is_in_output="true"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            number_token(minimum="100", maximum="199",length = [3], is_in_output="true"), 
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_36
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['8612233334444']

In [45]:
# China : 0086 xxx xxxx xxxx , 
rule_37 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=["0086"], is_in_output="true"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_37
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['008611122223333']

In [46]:
# China : +86 xxx xxx xx xxx
rule_38 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=["86"], is_in_output="true"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_38
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['8611122233444']

In [47]:
# HK: XXXX YYYY , 
rule_39 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_39
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['11112222',
 '01111111',
 '11112222',
 '33334444',
 '22223333',
 '11112222',
 '22223333',
 '11112222']

In [48]:
# HK: XXXXYYYY
rule_40 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            shape_token(shape =["dddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_40
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['33334444']

In [49]:
# Japan : (0AA) NXX-XXXX, 
rule_41 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="99",length = [3], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_41
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0112223333']

In [50]:
# Japan: (0120)-XX-XXXX, 
rule_42 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["0120"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_42
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0120223333']

In [51]:
# Japan: 0570-XX-XXXX, 
rule_43 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["0570"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_43
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0570223333']

In [52]:
# Japan : or 0800-XX-XXXX), 
rule_44 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["0800"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_44
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0800223333']

In [53]:
#Japan : (050-XXXX-XXXX),
rule_45 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["050"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_45
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['05022223333']

In [54]:
# Austrilia : (0A) BBBB BBBB ,
rule_46 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="9",length = [2], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_46
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0111112222']

In [55]:
# Austrilia :  +61 4MMMB BBBB. 
rule_47 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number = ["61"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            number_token(minimum="40000", maximum="49999",length = [5], is_in_output="true"), 
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_47
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['61422223333']

In [56]:
# Austrilia :  + 61 42x xxx xxx, 
rule_48 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number = ["61"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_48
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['61222333444']

In [57]:
# Austrilia : 1X0Y BBB BBB,
rule_49 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "",
      "pattern": [
            number_token(minimum="1000", maximum="1009",length = [4], is_required="false", is_in_output="true"), 
            number_token(minimum="1100", maximum="1109",length = [4], is_required="false", is_in_output="true"), 
            number_token(minimum="1200", maximum="1209",length = [4], is_required="false", is_in_output="true"), 
            number_token(minimum="1300", maximum="1309",length = [4], is_required="false", is_in_output="true"), 
            number_token(minimum="1400", maximum="1409",length = [4], is_required="false", is_in_output="true"),
            number_token(minimum="1500", maximum="1509",length = [4], is_required="false", is_in_output="true"),
            number_token(minimum="1600", maximum="1609",length = [4], is_required="false", is_in_output="true"),
            number_token(minimum="1700", maximum="1709",length = [4], is_required="false", is_in_output="true"),
            number_token(minimum="1800", maximum="1809",length = [4], is_required="false", is_in_output="true"),
            number_token(minimum="1900", maximum="1909",length = [4], is_required="false", is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_49
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['217331',
 '949484',
 '664123',
 '044322',
 '011066',
 '231011',
 '111222',
 '111222',
 '222333',
 '333444',
 '1003333444']

In [58]:
# El Salvador : xxxx xxxx, xxxxxxxx the same with HK

## Test Several Rules

In [59]:
field_rules = {
  "rules": [
    rule_01, 
    rule_02,
    rule_03,
    rule_04,
    rule_05,
    rule_06,
    rule_07,
    rule_08,
    rule_09,
    rule_10
  ],
    "test_text": d['text'],
    "test_tokens": c.extract_tokens_from_crf(c.extract_crftokens(d['text'], lowercase=False))
}



results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
print results

field_rules['results']=results

s = json.dumps(field_rules)

print s
import codecs
o = codecs.open('path_to_file', 'w')
o.write(s)
o.close()

print json.dumps(results, indent=2)

tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

[{'context': {'end': 10, 'tokens_left': [u'my', u'telephone', u'number', u'is'], 'text': "my telephone number is <etk 'attribute' = 'field02'>( 217 ) 331 - 6779</etk> , ( 217 ) - ", 'tokens_right': [u',', u'(', u'217', u')', u'-'], 'start': 4, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '217 331 6779'}, {'context': {'end': 18, 'tokens_left': [u')', u'331', u'-', u'6779', u','], 'text': ") 331 - 6779 , <etk 'attribute' = 'field02'>( 217 ) - 331 - 6778</etk> , ( 217 ) - ", 'tokens_right': [u',', u'(', u'217', u')', u'-'], 'start': 11, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '217 331 6778'}, {'context': {'end': 26, 'tokens_left': [u'-', u'331', u'-', u'6778', u','], 'text': "- 331 - 6778 , <etk 'attribute' = 'field02'>( 217 ) - 331 - 6777</etk> , 217 - 331 - ", 'tokens_right': [u',', u'217', u'-', u'331', u'-'], 'start': 19, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '217 331 6777'}, {'context': {'end': 32, 'tokens_left': [u'-', u'331', u'-', u'6777', u','], 'text': "- 331 - 6777 , <etk 'attribute' = 'field02'>217 - 331 - 6776</etk> , 734 . 709 . ", 'tokens_right': [u',', u'734', u'.', u'709', u'.'], 'start': 27, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '217 331 6776'}, {'context': {'end': 38, 'tokens_left': [u'-', u'331', u'-', u'6776', u','], 'text': "- 331 - 6776 , <etk 'attribute' = 'field02'>734 . 709 . 8965</etk> , 949 484 6951 , ", 'tokens_right': [u',', u'949', u'484', u'6951', u','], 'start': 33, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '734 709 8965'}, {'context': {'end': 42, 'tokens_left': [u'.', u'709', u'.', u'8965', u','], 'text': ". 709 . 8965 , <etk 'attribute' = 'field02'>949 484 6951</etk> , 5017774643 , 664 123 ", 'tokens_right': [u',', u'5017774643', u',', u'664', u'123'], 'start': 39, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '949 484 6951'}, {'context': {'end': 81, 'tokens_left': [u'My', u'names', u'is', u'Alanda', u'\n'], 'text': "My names is Alanda \n <etk 'attribute' = 'field02'>( 217 ) - 331 - 6778</etk> , ( 044 ) 322 ", 'tokens_right': [u',', u'(', u'044', u')', u'322'], 'start': 74, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '217 331 6778'}, {'context': {'end': 265, 'tokens_left': [u'33333', u',', u'+', u'91', u'-'], 'text': "33333 , + 91 - <etk 'attribute' = 'field02'>111 222 3333</etk> \n China : ( 0111 ", 'tokens_right': [u'\n', u'China', u':', u'(', u'0111'], 'start': 262, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '111 222 3333'}, {'context': {'end': 307, 'tokens_left': [u',', u'33334444', u'\n', u'Japan', u':'], 'text': ", 33334444 \n Japan : <etk 'attribute' = 'field02'>( 011 ) 222 - 3333</etk> , ( 0120 ) - ", 'tokens_right': [u',', u'(', u'0120', u')', u'-'], 'start': 301, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 0}, 'value': '011 222 3333'}, {'context': {'end': 44, 'tokens_left': [u',', u'949', u'484', u'6951', u','], 'text': ", 949 484 6951 , <etk 'attribute' = 'field02'>5017774643</etk> , 664 123 45 67 ", 'tokens_right': [u',', u'664', u'123', u'45', u'67'], 'start': 43, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 1}, 'value': '5017774643'}, {'context': {'end': 51, 'tokens_left': [u'664', u'123', u'45', u'67', u','], 'text': "664 123 45 67 , <etk 'attribute' = 'field02'>0660852222</etk> \n Hi Gentlemen , My ", 'tokens_right': [u'\n', u'Hi', u'Gentlemen', u',', u'My'], 'start': 50, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 1}, 'value': '0660852222'}, {'context': {'end': 117, 'tokens_left': [u'83', u'94', u',', u'045', u'-'], 'text': "83 94 , 045 - <etk 'attribute' = 'field02'>5549408395</etk> \n - 0466119200 , - ", 'tokens_right': [u'\n', u'-', u'0466119200', u',', u'-'], 'start': 116, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 1}, 'value': '5549408395'}, {'context': {'end': 120, 'tokens_left': [u'045', u'-', u'5549408395', u'\n', u'-'], 'text': "045 - 5549408395 \n - <etk 'attribute' = 'field02'>0466119200</etk> , - 488019954 , + ", 'tokens_right': [u',', u'-', u'488019954', u',', u'+'], 'start': 119, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 1}, 'value': '0466119200'}, {'context': {'end': 129, 'tokens_left': [u',', u'+', u'32465863497', u'-', u','], 'text': ", + 32465863497 - , <etk 'attribute' = 'field02'>0466119200</etk> \n 74350 - 0642516048 , ", 'tokens_right': [u'\n', u'74350', u'-', u'0642516048', u','], 'start': 128, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 1}, 'value': '0466119200'}, {'context': {'end': 133, 'tokens_left': [u',', u'0466119200', u'\n', u'74350', u'-'], 'text': ", 0466119200 \n 74350 - <etk 'attribute' = 'field02'>0642516048</etk> , 07 55 71 64 ", 'tokens_right': [u',', u'07', u'55', u'71', u'64'], 'start': 132, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 1}, 'value': '0642516048'}, {'context': {'end': 10, 'tokens_left': [u'my', u'telephone', u'number', u'is'], 'text': "my telephone number is <etk 'attribute' = 'field02'>( 217 ) 331 - 6779</etk> , ( 217 ) - ", 'tokens_right': [u',', u'(', u'217', u')', u'-'], 'start': 4, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '217 331 6779'}, {'context': {'end': 18, 'tokens_left': [u')', u'331', u'-', u'6779', u','], 'text': ") 331 - 6779 , <etk 'attribute' = 'field02'>( 217 ) - 331 - 6778</etk> , ( 217 ) - ", 'tokens_right': [u',', u'(', u'217', u')', u'-'], 'start': 11, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '217 331 6778'}, {'context': {'end': 26, 'tokens_left': [u'-', u'331', u'-', u'6778', u','], 'text': "- 331 - 6778 , <etk 'attribute' = 'field02'>( 217 ) - 331 - 6777</etk> , 217 - 331 - ", 'tokens_right': [u',', u'217', u'-', u'331', u'-'], 'start': 19, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '217 331 6777'}, {'context': {'end': 32, 'tokens_left': [u'-', u'331', u'-', u'6777', u','], 'text': "- 331 - 6777 , <etk 'attribute' = 'field02'>217 - 331 - 6776</etk> , 734 . 709 . ", 'tokens_right': [u',', u'734', u'.', u'709', u'.'], 'start': 27, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '217 331 6776'}, {'context': {'end': 38, 'tokens_left': [u'-', u'331', u'-', u'6776', u','], 'text': "- 331 - 6776 , <etk 'attribute' = 'field02'>734 . 709 . 8965</etk> , 949 484 6951 , ", 'tokens_right': [u',', u'949', u'484', u'6951', u','], 'start': 33, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '734 709 8965'}, {'context': {'end': 42, 'tokens_left': [u'.', u'709', u'.', u'8965', u','], 'text': ". 709 . 8965 , <etk 'attribute' = 'field02'>949 484 6951</etk> , 5017774643 , 664 123 ", 'tokens_right': [u',', u'5017774643', u',', u'664', u'123'], 'start': 39, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '949 484 6951'}, {'context': {'end': 81, 'tokens_left': [u'My', u'names', u'is', u'Alanda', u'\n'], 'text': "My names is Alanda \n <etk 'attribute' = 'field02'>( 217 ) - 331 - 6778</etk> , ( 044 ) 322 ", 'tokens_right': [u',', u'(', u'044', u')', u'322'], 'start': 74, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '217 331 6778'}, {'context': {'end': 265, 'tokens_left': [u'33333', u',', u'+', u'91', u'-'], 'text': "33333 , + 91 - <etk 'attribute' = 'field02'>111 222 3333</etk> \n China : ( 0111 ", 'tokens_right': [u'\n', u'China', u':', u'(', u'0111'], 'start': 262, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '111 222 3333'}, {'context': {'end': 307, 'tokens_left': [u',', u'33334444', u'\n', u'Japan', u':'], 'text': ", 33334444 \n Japan : <etk 'attribute' = 'field02'>( 011 ) 222 - 3333</etk> , ( 0120 ) - ", 'tokens_right': [u',', u'(', u'0120', u')', u'-'], 'start': 301, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 2}, 'value': '011 222 3333'}, {'context': {'end': 44, 'tokens_left': [u',', u'949', u'484', u'6951', u','], 'text': ", 949 484 6951 , <etk 'attribute' = 'field02'>5017774643</etk> , 664 123 45 67 ", 'tokens_right': [u',', u'664', u'123', u'45', u'67'], 'start': 43, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 3}, 'value': '5017774643'}, {'context': {'end': 51, 'tokens_left': [u'664', u'123', u'45', u'67', u','], 'text': "664 123 45 67 , <etk 'attribute' = 'field02'>0660852222</etk> \n Hi Gentlemen , My ", 'tokens_right': [u'\n', u'Hi', u'Gentlemen', u',', u'My'], 'start': 50, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 3}, 'value': '0660852222'}, {'context': {'end': 117, 'tokens_left': [u'83', u'94', u',', u'045', u'-'], 'text': "83 94 , 045 - <etk 'attribute' = 'field02'>5549408395</etk> \n - 0466119200 , - ", 'tokens_right': [u'\n', u'-', u'0466119200', u',', u'-'], 'start': 116, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 3}, 'value': '5549408395'}, {'context': {'end': 120, 'tokens_left': [u'045', u'-', u'5549408395', u'\n', u'-'], 'text': "045 - 5549408395 \n - <etk 'attribute' = 'field02'>0466119200</etk> , - 488019954 , + ", 'tokens_right': [u',', u'-', u'488019954', u',', u'+'], 'start': 119, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 3}, 'value': '0466119200'}, {'context': {'end': 129, 'tokens_left': [u',', u'+', u'32465863497', u'-', u','], 'text': ", + 32465863497 - , <etk 'attribute' = 'field02'>0466119200</etk> \n 74350 - 0642516048 , ", 'tokens_right': [u'\n', u'74350', u'-', u'0642516048', u','], 'start': 128, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 3}, 'value': '0466119200'}, {'context': {'end': 133, 'tokens_left': [u',', u'0466119200', u'\n', u'74350', u'-'], 'text': ", 0466119200 \n 74350 - <etk 'attribute' = 'field02'>0642516048</etk> , 07 55 71 64 ", 'tokens_right': [u',', u'07', u'55', u'71', u'64'], 'start': 132, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 3}, 'value': '0642516048'}, {'context': {'end': 10, 'tokens_left': [u'my', u'telephone', u'number', u'is'], 'text': "my telephone number is <etk 'attribute' = 'field02'>( 217 ) 331 - 6779</etk> , ( 217 ) - ", 'tokens_right': [u',', u'(', u'217', u')', u'-'], 'start': 4, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '217 331 6779'}, {'context': {'end': 18, 'tokens_left': [u')', u'331', u'-', u'6779', u','], 'text': ") 331 - 6779 , <etk 'attribute' = 'field02'>( 217 ) - 331 - 6778</etk> , ( 217 ) - ", 'tokens_right': [u',', u'(', u'217', u')', u'-'], 'start': 11, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '217 331 6778'}, {'context': {'end': 26, 'tokens_left': [u'-', u'331', u'-', u'6778', u','], 'text': "- 331 - 6778 , <etk 'attribute' = 'field02'>( 217 ) - 331 - 6777</etk> , 217 - 331 - ", 'tokens_right': [u',', u'217', u'-', u'331', u'-'], 'start': 19, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '217 331 6777'}, {'context': {'end': 32, 'tokens_left': [u'-', u'331', u'-', u'6777', u','], 'text': "- 331 - 6777 , <etk 'attribute' = 'field02'>217 - 331 - 6776</etk> , 734 . 709 . ", 'tokens_right': [u',', u'734', u'.', u'709', u'.'], 'start': 27, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '217 331 6776'}, {'context': {'end': 38, 'tokens_left': [u'-', u'331', u'-', u'6776', u','], 'text': "- 331 - 6776 , <etk 'attribute' = 'field02'>734 . 709 . 8965</etk> , 949 484 6951 , ", 'tokens_right': [u',', u'949', u'484', u'6951', u','], 'start': 33, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '734 709 8965'}, {'context': {'end': 42, 'tokens_left': [u'.', u'709', u'.', u'8965', u','], 'text': ". 709 . 8965 , <etk 'attribute' = 'field02'>949 484 6951</etk> , 5017774643 , 664 123 ", 'tokens_right': [u',', u'5017774643', u',', u'664', u'123'], 'start': 39, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '949 484 6951'}, {'context': {'end': 81, 'tokens_left': [u'My', u'names', u'is', u'Alanda', u'\n'], 'text': "My names is Alanda \n <etk 'attribute' = 'field02'>( 217 ) - 331 - 6778</etk> , ( 044 ) 322 ", 'tokens_right': [u',', u'(', u'044', u')', u'322'], 'start': 74, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '217 331 6778'}, {'context': {'end': 265, 'tokens_left': [u'33333', u',', u'+', u'91', u'-'], 'text': "33333 , + 91 - <etk 'attribute' = 'field02'>111 222 3333</etk> \n China : ( 0111 ", 'tokens_right': [u'\n', u'China', u':', u'(', u'0111'], 'start': 262, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '111 222 3333'}, {'context': {'end': 307, 'tokens_left': [u',', u'33334444', u'\n', u'Japan', u':'], 'text': ", 33334444 \n Japan : <etk 'attribute' = 'field02'>( 011 ) 222 - 3333</etk> , ( 0120 ) - ", 'tokens_right': [u',', u'(', u'0120', u')', u'-'], 'start': 301, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 4}, 'value': '011 222 3333'}, {'context': {'end': 44, 'tokens_left': [u',', u'949', u'484', u'6951', u','], 'text': ", 949 484 6951 , <etk 'attribute' = 'field02'>5017774643</etk> , 664 123 45 67 ", 'tokens_right': [u',', u'664', u'123', u'45', u'67'], 'start': 43, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 5}, 'value': '5017774643'}, {'context': {'end': 51, 'tokens_left': [u'664', u'123', u'45', u'67', u','], 'text': "664 123 45 67 , <etk 'attribute' = 'field02'>0660852222</etk> \n Hi Gentlemen , My ", 'tokens_right': [u'\n', u'Hi', u'Gentlemen', u',', u'My'], 'start': 50, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 5}, 'value': '0660852222'}, {'context': {'end': 117, 'tokens_left': [u'83', u'94', u',', u'045', u'-'], 'text': "83 94 , 045 - <etk 'attribute' = 'field02'>5549408395</etk> \n - 0466119200 , - ", 'tokens_right': [u'\n', u'-', u'0466119200', u',', u'-'], 'start': 116, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 5}, 'value': '5549408395'}, {'context': {'end': 120, 'tokens_left': [u'045', u'-', u'5549408395', u'\n', u'-'], 'text': "045 - 5549408395 \n - <etk 'attribute' = 'field02'>0466119200</etk> , - 488019954 , + ", 'tokens_right': [u',', u'-', u'488019954', u',', u'+'], 'start': 119, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 5}, 'value': '0466119200'}, {'context': {'end': 129, 'tokens_left': [u',', u'+', u'32465863497', u'-', u','], 'text': ", + 32465863497 - , <etk 'attribute' = 'field02'>0466119200</etk> \n 74350 - 0642516048 , ", 'tokens_right': [u'\n', u'74350', u'-', u'0642516048', u','], 'start': 128, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 5}, 'value': '0466119200'}, {'context': {'end': 133, 'tokens_left': [u',', u'0466119200', u'\n', u'74350', u'-'], 'text': ", 0466119200 \n 74350 - <etk 'attribute' = 'field02'>0642516048</etk> , 07 55 71 64 ", 'tokens_right': [u',', u'07', u'55', u'71', u'64'], 'start': 132, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 5}, 'value': '0642516048'}, {'context': {'end': 49, 'tokens_left': [u'484', u'6951', u',', u'5017774643', u','], 'text': "484 6951 , 5017774643 , <etk 'attribute' = 'field02'>664 123 45 67</etk> , 0660852222 \n Hi Gentlemen ", 'tokens_right': [u',', u'0660852222', u'\n', u'Hi', u'Gentlemen'], 'start': 45, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 6}, 'value': '664 123 45 67'}, {'context': {'end': 87, 'tokens_left': [u'-', u'331', u'-', u'6778', u','], 'text': "- 331 - 6778 , <etk 'attribute' = 'field02'>( 044 ) 322 1719850</etk> , 044 322 1719851 , ", 'tokens_right': [u',', u'044', u'322', u'1719851', u','], 'start': 82, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 7}, 'value': '044 322 1719850'}, {'context': {'end': 91, 'tokens_left': [u'044', u')', u'322', u'1719850', u','], 'text': "044 ) 322 1719850 , <etk 'attribute' = 'field02'>044 322 1719851</etk> , ( 045 ) 322 ", 'tokens_right': [u',', u'(', u'045', u')', u'322'], 'start': 88, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 7}, 'value': '044 322 1719851'}, {'context': {'end': 97, 'tokens_left': [u',', u'044', u'322', u'1719851', u','], 'text': ", 044 322 1719851 , <etk 'attribute' = 'field02'>( 045 ) 322 1719850</etk> , 045 55 49 40 ", 'tokens_right': [u',', u'045', u'55', u'49', u'40'], 'start': 92, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 7}, 'value': '045 322 1719850'}, {'context': {'end': 104, 'tokens_left': [u'045', u')', u'322', u'1719850', u','], 'text': "045 ) 322 1719850 , <etk 'attribute' = 'field02'>045 55 49 40 83 95</etk> , 045 - 55 - ", 'tokens_right': [u',', u'045', u'-', u'55', u'-'], 'start': 98, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 8}, 'value': '045 55 49 40 83 95'}, {'context': {'end': 113, 'tokens_left': [u'49', u'40', u'83', u'95', u','], 'text': "49 40 83 95 , <etk 'attribute' = 'field02'>045 - 55 - 49 40 83 94</etk> , 045 - 5549408395 \n ", 'tokens_right': [u',', u'045', u'-', u'5549408395', u'\n'], 'start': 105, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 8}, 'value': '045 55 49 40 83 94'}, {'context': {'end': 117, 'tokens_left': [u'49', u'40', u'83', u'94', u','], 'text': "49 40 83 94 , <etk 'attribute' = 'field02'>045 - 5549408395</etk> \n - 0466119200 , - ", 'tokens_right': [u'\n', u'-', u'0466119200', u',', u'-'], 'start': 114, 'input': 'tokens', 'identifier': 'telenum_rule_us', 'rule_id': 9}, 'value': '045 5549408395'}]

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333',
 '5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048',
 '2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333',
 '5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048',
 '2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333',
 '5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048',
 '6641234567',
 '0443221719850',
 '0443221719851',
 '0453221719850',
 '0455549408395',
 '0455549408394',
 '0455549408395']

In [60]:

print word_token(token=["hello"])

{'prefix': '', 'suffix': '', 'capitalization': [], 'part_of_speech': [], 'length': [], 'maximum': '', 'shapes': [], 'token': ['hello'], 'minimum': '', 'numbers': [], 'contain_digit': '', 'is_in_vocabulary': '', 'is_out_of_vocabulary': '', 'is_required': 'true', 'type': 'word', 'is_in_output': 'false'}