# Custom Spacy Rules

In [244]:
def generic_token(type="word", token=[], shape=[], number =[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="", is_followed_by_space="", is_required="true", is_in_output="true", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
    return {
        "type": type,
        "token": token,
        "shapes": shape,
        "numbers": number,
        "capitalization": capitalization,
        "part_of_speech": part_of_speech,
        "length": length,
        "minimum": minimum,
        "maximum": maximum,
        "prefix": prefix,
        "suffix": suffix,
        "is_required": is_required,
        "is_in_output": is_in_output,
        "is_out_of_vocabulary": is_out_of_vocabulary,
        "is_in_vocabulary": is_in_vocabulary,
        "contain_digit": contain_digit
    }
def word_token(token=[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="", is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="word", token=token, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)
    
def punctuation_token(token=[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="",  is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="punctuation", token=token, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)

def shape_token(shape=[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="",is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="shape", shape=shape, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)

def number_token(number =[], capitalization=[], part_of_speech=[], length=[], minimum="", maximum="", prefix="", suffix="",is_required="true", is_in_output="false", is_out_of_vocabulary="", is_in_vocabulary="", contain_digit=""):
     return generic_token(type="number", number=number, capitalization=capitalization, part_of_speech=part_of_speech, length=length, minimum=minimum, maximum=maximum,prefix=prefix, suffix=suffix, is_required=is_required, is_in_output=is_in_output, is_out_of_vocabulary=is_out_of_vocabulary, is_in_vocabulary=is_in_vocabulary, contain_digit=contain_digit)

In [245]:
import json
from etk.core import Core
c = Core()

In [246]:
# Text to test the rules
t = []
t.append(u"my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222")
t.append(u"Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda")
t.append(u"(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395")
t.append(u"-0466119200, -488019954,+32465863497 - , 0466119200")
t.append(u"74350 - 0642516048, 07 55 71 64 36 - ") 
t.append(u" + 49 15781424777, +( 49 )15732190888?")
t.append(u" 004915221040240")
t.append(u" 49( 0 )15771824788")
t.append(u" 111 2222, 111-3333")
t.append(u" UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 , ")
t.append(u" UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337, ")
t.append(u" UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 , ")
t.append(u" India: 111-2222222, 11111-33333, +91-111 222 3333")
t.append(u" China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444")
t.append(u" HK: 1111 2222, 33334444")
t.append(u" Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61  ")
t.append(u" Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444")




d = dict()
d['text'] = "\n".join(t)
d['simple_tokens_original_case'] = c.extract_tokens_from_crf(c.extract_crftokens(d['text'], lowercase=False))

print d

config = dict()
config['field_name'] = 'field02'

{'text': u'my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222\nHi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda\n(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395\n-0466119200, -488019954,+32465863497 - , 0466119200\n74350 - 0642516048, 07 55 71 64 36 - \n + 49 15781424777, +( 49 )15732190888?\n 004915221040240\n 49( 0 )15771824788\n 111 2222, 111-3333\n UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 , \n UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337, \n UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 , \n India: 111-2222222, 11111-33333, +91-111 222 3333\n China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444\n HK: 1111 2222, 33334444\n Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61  \n Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444', 'simple_tokens_original_case': [u'my', u'telephone', u'number', u'is', u'(', u'217', u')', u'331', u'-', u'6779', u',', u'(', u'217', u')', u'-', u'331', u'-', u'6778', u',', u'(', u'217', u')', u'-', u'331', u'-', u'6777', u',', u'217', u'-', u'331', u'-', u'6776', u',', u'734', u'.', u'709', u'.', u'8965', u',', u'949', u'484', u'6951', u',', u'5017774643', u',', u'664', u'123', u'45', u'67', u',', u'0660852222', u'\n', u'Hi', u'Gentlemen', u',', u'My', u'name', u'is', u'Ashley', u'.', u'my', u'name', u'Monica', u'I', u'am', u'the', u'one', u'and', u',', u'My', u'names', u'is', u'Alanda', u'\n', u'(', u'217', u')', u'-', u'331', u'-', u'6778', u',', u'(', u'044', u')', u'322', u'1719850', u',', u'044', u'322', u'1719851', u',', u'(', u'045', u')', u'322', u'1719850', u',', u'045', u'55', u'49', u'40', u'83', u'95', u',', u'045', u'-', u'55', u'-', u'49', u'40', u'83', u'94', u',', u'045', u'-', u'5549408395', u'\n', u'-', u'0466119200', u',', u'-', u'488019954', u',', u'+', u'32465863497', u'-', u',', u'0466119200', u'\n', u'74350', u'-', u'0642516048', u',', u'07', u'55', u'71', u'64', u'36', u'-', u'\n', u'+', u'49', u'15781424777', u',', u'+', u'(', u'49', u')', u'15732190888', u'?', u'\n', u'004915221040240', u'\n', u'49', u'(', u'0', u')', u'15771824788', u'\n', u'111', u'2222', u',', u'111', u'-', u'3333', u'\n', u'UK', u':', u'07077080500', u',', u'07741', u'011', u'066', u',', u'07014', u'-', u'231', u'-', u'011', u',', u'0751', u'011', u'41', u'92', u',', u'\n', u'UK', u':', u'(', u'022', u')', u'1111', u'2222', u',', u'(', u'0100', u')', u'000', u'1113', u',', u'(', u'01222', u')', u'22224', u',', u'(', u'01222', u')', u'333335', u',', u'(', u'0122', u'22', u')', u'3336', u',', u'(', u'0122', u'22', u')', u'33337', u',', u'\n', u'UK', u':', u'0121', u'-', u'111', u'2228', u',', u'0121', u'111', u'2229', u',', u'07111', u'222220', u',', u'0111', u'222', u'2221', u',', u'0500', u'111112', u',', u'0800', u'111113', u',', u'\n', u'India', u':', u'111', u'-', u'2222222', u',', u'11111', u'-', u'33333', u',', u'+', u'91', u'-', u'111', u'222', u'3333', u'\n', u'China', u':', u'(', u'0111', u')', u'1111', u'2222', u',', u'+', u'86', u'122', u'3333', u'4444', u',', u'0086', u'111', u'2222', u'3333', u',', u'+', u'86', u'111', u'222', u'33', u'444', u'\n', u'HK', u':', u'1111', u'2222', u',', u'33334444', u'\n', u'Japan', u':', u'(', u'011', u')', u'222', u'-', u'3333', u',', u'(', u'0120', u')', u'-', u'22', u'-', u'3333', u',', u'0570', u'-', u'22', u'-', u'3333', u',', u'0800', u'-', u'22', u'-', u'3333', u',', u'050', u'-', u'2222', u'-', u'3333', u',', u'+', u'61', u'\n', u'Austrilia', u':', u'(', u'01', u')', u'1111', u'2222', u',', u'+', u'61', u'42222', u'3333', u',', u'+', u'61', u'222', u'333', u'444', u',', u'1003', u'333', u'444']}

In [247]:
#US (217)-331-6777, 217-331-6776, 734.709.8965

rule_01 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_01
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333']

In [248]:
#US 7347098965

rule_02 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}",
      "pattern": [
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_02
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['5017774643',
 '0660852222',
 '5549408395',
 '0466119200',
 '0466119200',
 '0642516048']

In [249]:
#Canada (217)-331-6777, 217-331-6776, 734.709.8965

rule_03 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_03
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333']

In [250]:
#Canada 7347098965

rule_04 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "false",
      "output_format": "{1}",
      "pattern": [
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_04
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [251]:
#Mexico (217)-331-6777, 217-331-6776, 734.709.8965

rule_05 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_05
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['2173316779',
 '2173316778',
 '2173316777',
 '2173316776',
 '7347098965',
 '9494846951',
 '2173316778',
 '1112223333',
 '0112223333']

In [252]:
#Mexico 7347098965

rule_06 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "false",
      "output_format": "",
      "pattern": [
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_06
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [253]:
#Mexico 217-331-67 76

rule_07 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}{4}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_07
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['6641234567']

In [254]:
#Mexico (044) 322 1719850,044 322 1719851, (045) 55 1234 5678

rule_08 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number =["044", "045"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["ddddddd"],is_in_output="true")      
      ]
    }

field_rules = {
  "rules": [
      rule_08
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [255]:
#Mexico 045 55 49 40 83 95

rule_09 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}{4}{5}{6}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number =["044", "045"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-" , "."],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true")  
      ]
    }

field_rules = {
  "rules": [
      rule_09
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0455549408395', '0455549408394']

In [256]:
#Mexico 045 -5549408395

rule_10 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number =["044", "045"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-", "."],is_required="false"),
            shape_token(shape =["dddddddddd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_10
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0455549408395']

In [257]:
#Belgium 0466119200, -488019954,

rule_11 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "false",
      "output_format": "{1}",
      "pattern": [
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddddddd"],is_in_output="true")

      ]
    }

field_rules = {
  "rules": [
      rule_11
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [258]:
#Belgium 0466119200, (start with 04)

rule_12 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}",
      "pattern": [
            number_token(minimum="400000000", maximum="499999999", length = [10], is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_12
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0466119200', '0466119200']

In [259]:
#Belgium 32465863497 -

rule_13 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}",
      "pattern": [
            punctuation_token(token=["-","+"],is_required="false"),
            number_token(minimum="32400000000", maximum="32499999999",is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_13
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['32465863497']

In [260]:
#France 74350 - 0642516048 ,
rule_14 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_14
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['743500642516048']

In [261]:
#France 07 55 71 64 36 
rule_15 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}{4}{5}",
      "pattern": [
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_15
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['5549408395', '0755716436']

In [262]:
#Germany + 49 15781424756, +( 49 )15732190888?    remove 49
rule_16 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}",
      "pattern": [
            punctuation_token(token=["+"],is_required="false"),
            punctuation_token(token=["("],is_required="false"),
            number_token(number =[49],is_in_output="false"),
            punctuation_token(token=[")"],is_required="false"),
            shape_token(shape =["ddddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_16
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['15781424777', '15732190888']

In [263]:
# Germany:004915221040240 start with 0049 , 0049 is national code  , can't remove 0049
rule_17 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}",
      "pattern": [
            number_token(minimum="4900000000000", maximum="4999999999999",is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_17
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['004915221040240']

In [264]:
#Germany 49( 0 )15771824788

rule_18 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}",
      "pattern": [
            number_token(number =[49],is_in_output="false"),
            punctuation_token(token=["("],is_required="false"),
            number_token(number =[0],is_in_output="false"),
            punctuation_token(token=[")"],is_required="false"),
            shape_token(shape =["ddddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_18
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['15771824788']

In [265]:
#Ireland : 111 2222, 111-3333 XXX XXXX or XXX-XXXX   


rule_19 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_19
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['3316779',
 '3316778',
 '3316777',
 '3316776',
 '4846951',
 '3316778',
 '1112222',
 '1113333',
 '0001113',
 '1112228',
 '1112229',
 '2222221',
 '2223333',
 '1223333',
 '1112222',
 '2223333',
 '0502222']

In [266]:
#Uk 07077080500  


rule_19 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "false",
      "output_format": "{1}",
      "pattern": [
            shape_token(shape =["ddddddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_19
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [267]:
# UK : 07741 011 066, -07014-231- 011-,

rule_19 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}]",
      "pattern": [
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_19
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['07741011066]', '07014231011]']

In [268]:
# UK: 0751 011 41 92

rule_20 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}{4}",
      "pattern": [
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_20
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['07510114192']

In [269]:
# (02x) AAAA AAAA, 


rule_21 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="20", maximum="29",length = [3], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_21
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['02211112222']

In [270]:
# UK:(01xx) AAA BBBB,  
rule_22 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="100", maximum="199",length = [4], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_22
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01000001113', '01211112228', '01211112229', '01112222221']

In [271]:
# UK: (01xxx) AAAAA 
rule_23 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="1000", maximum="1999",length = [5], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_23
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0122222224']

In [272]:
# Uk: ,(01xxx) AAAAAA, 
rule_24 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="1000", maximum="1999",length = [5], is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
      ]
    }

field_rules = {
  "rules": [
      rule_24
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01222333335']

In [273]:
# Uk: (01xx xx) AAAA , 
rule_25 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="100", maximum="199",length = [4], is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_25
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0122223336']

In [274]:
# UK: (01xx xx) AAAAA, 
rule_26 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="100", maximum="199",length = [4], is_in_output="true"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_26
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01222233337']

In [275]:
# UK: 01x1-AAA BBBB, 

rule_27 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            word_token(token=["0101","0111","0121","0131","0141","0151","0161","0171","0181","0191"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")

      ]
    }

field_rules = {
  "rules": [
      rule_27
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [276]:
#UK:  07AAA BBBBBB ,  

rule_28 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="7000", maximum="7999",length = [5], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_28
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['07111222220']

In [277]:
#UK: 0AAA BBB BBBB, 

rule_29 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="999",length = [4], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_29
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['01000001113', '01211112228', '01211112229', '01112222221', '00861112222']

In [278]:
# UK: 0500 AAAAAA, 

rule_30 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="500", maximum="599",length = [4], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_30
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0500111112']

In [279]:
#UK: 0800 AAAAAA , 

rule_31 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="800", maximum="899",length = [4], is_in_output="true"),       
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_31
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0800111113']

In [280]:
# Inida: AAA-BBBBBBB,

rule_32 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_32
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['3221719850', '3221719851', '3221719850', '1112222222']

In [281]:
# Inida: AAAAA-BBBBB, 
rule_33 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false")
      ]
    }

field_rules = {
  "rules": [
      rule_33
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0122222224', '1111133333']

In [282]:
#Inida: +91-XXX YYY ZZZZ, 
rule_34 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=[91], is_in_output="false"),  
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_34
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['1112223333']

In [283]:
# China : (0XXX) YYYY YYYY, 
rule_35 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="999",length = [4], is_in_output="true"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_35
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['011111112222']

In [284]:
# China: +86 1xx XXXX YYYY,
rule_36 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=[86], is_in_output="false"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            number_token(minimum="100", maximum="199",length = [3], is_in_output="true"), 
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_36
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['12233334444']

In [285]:
# China : 0086 xxx xxxx xxxx , 
rule_37 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=["0086"], is_in_output="false"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_37
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['11122223333']

In [286]:
# China : +86 xxx xxx xx xxx
rule_38 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}{4}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number=["86"], is_in_output="false"),        
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_38
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['11122233444']

In [287]:
# HK: XXXX YYYY , 
rule_39 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_39
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['11112222',
 '01111111',
 '11112222',
 '33334444',
 '22223333',
 '11112222',
 '22223333',
 '11112222']

In [288]:
# HK: XXXXYYYY
rule_40 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "false",
      "output_format": "{1}",
      "pattern": [
            shape_token(shape =["dddddddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_40
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

[]

In [289]:
# Japan : (0AA) NXX-XXXX,    japan's national code is 0081
rule_41 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="99",length = [3], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_41
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0112223333']

In [290]:
# Japan: (0120)-XX-XXXX, 
rule_42 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["0120"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_42
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0120223333']

In [291]:
# Japan: 0570-XX-XXXX, 
rule_43 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["0570"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_43
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0570223333']

In [292]:
# Japan : or 0800-XX-XXXX), 
rule_44 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["0800"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_44
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0800223333']

In [293]:
#Japan : (050-XXXX-XXXX),
rule_45 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(number = ["050"], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_45
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['05022223333']

In [294]:
# Austrilia : (0A) BBBB BBBB ,
rule_46 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            number_token(minimum="0", maximum="9",length = [2], is_in_output="true"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_46
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['0111112222']

In [295]:
# Austrilia :  +61 4MMMB BBBB.    national code is 61
rule_47 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number = ["61"], is_in_output="false"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            number_token(minimum="40000", maximum="49999",length = [5], is_in_output="true"), 
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["dddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_47
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['422223333']

In [296]:
# Austrilia :  + 61 42x xxx xxx, 
rule_48 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            punctuation_token(token=["("],is_required="false"),
            punctuation_token(token=["+"],is_required="false"),
            number_token(number = ["61"], is_in_output="false"), 
            punctuation_token(token=[")"],is_required="false"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_48
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['222333444']

In [297]:
# Austrilia : 1X0Y BBB BBB,
rule_49 = {
      "identifier": "telenum_rule_us",
      "description": "a description",
      "is_active": "true",
      "output_format": "{1}{2}{3}",
      "pattern": [
            number_token(minimum="1000", maximum="1999",length = [4],  is_in_output="true"), 
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true"),
            punctuation_token(token=["-"],is_required="false"),
            shape_token(shape =["ddd"],is_in_output="true")
      ]
    }

field_rules = {
  "rules": [
      rule_49
  ]
}

print "text:", d['text']
results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)
tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
tele_lst

text: my telephone number is (217)331-6779, (217)-331-6778,(217)-331-6777, 217-331-6776, 734.709.8965, 949 484 6951, 5017774643, 664 123 45 67,  0660852222
Hi Gentlemen, My name is Ashley . my name Monica I am the one and, My names is Alanda
(217)-331-6778, (044) 322 1719850,044 322 1719851, (045) 322 1719850, 045 55 49 40 83 95, 045- 55- 49 40 83 94, 045 -5549408395
-0466119200, -488019954,+32465863497 - , 0466119200
74350 - 0642516048, 07 55 71 64 36 -
 + 49 15781424777, +( 49 )15732190888?
 004915221040240
 49( 0 )15771824788
 111 2222, 111-3333
 UK: 07077080500, 07741 011 066, 07014-231- 011, 0751 011 41 92 ,
 UK:(022) 1111 2222, (0100) 000 1113, (01222) 22224, (01222) 333335, (0122 22)3336, (0122 22) 33337,
 UK: 0121-111 2228, 0121 111 2229, 07111 222220, 0111 222 2221, 0500 111112, 0800 111113 ,
 India: 111-2222222, 11111-33333, +91-111 222 3333
 China: (0111) 1111 2222, +86 122 3333 4444, 0086 111 2222 3333, +86 111 222 33 444
 HK: 1111 2222, 33334444
 Japan: (011) 222-3333, (0120)-22-3333, 0570-22-3333, 0800-22-3333,050-2222-3333, +61
 Austrilia: (01)1111 2222, +61 42222 3333, +61 222 333 444, 1003 333 444

['1003333444']

In [298]:
# El Salvador : xxxx xxxx, xxxxxxxx the same with HK

## Test Several Rules

In [299]:
field_rules = {
  "rules": [
    rule_01, 
    rule_02,
    rule_03,
    rule_04,
    rule_05,
    rule_06,
    rule_07,
    rule_08,
    rule_09,
    rule_10,
    rule_11, 
    rule_12,
    rule_13,
    rule_14,
    rule_15,
    rule_16,
    rule_17,
    rule_18,
    rule_19,
    rule_20,
    rule_21, 
    rule_22,
    rule_23,
    rule_24,
    rule_25,
    rule_26,
    rule_27,
    rule_28,
    rule_29,
    rule_30,
    rule_31, 
    rule_32,
    rule_33,
    rule_34,
    rule_35,
    rule_36,
    rule_37,
    rule_38,
    rule_39,
    rule_40,
    rule_41, 
    rule_42,
    rule_43,
    rule_44,
    rule_45,
    rule_46,
    rule_47,
    rule_48,
    rule_49
  ],
    "test_text": d['text'],
    "test_tokens": c.extract_tokens_from_crf(c.extract_crftokens(d['text'], lowercase=False))
}



results = c.extract_using_custom_spacy(d, config, field_rules=field_rules)

tele_lst = []
for i in results:
    tele_lst.append(''.join((i.values()[1]).split()))
results.append(tele_lst)


field_rules['results']=results

s = json.dumps(field_rules, indent=2)


import codecs
o = codecs.open('phone.json', 'w')
o.write(s)
o.close()

#print json.dumps(results, indent=2)

In [300]:

print word_token(token=["hello"])

{'prefix': '', 'suffix': '', 'capitalization': [], 'part_of_speech': [], 'length': [], 'maximum': '', 'shapes': [], 'token': ['hello'], 'minimum': '', 'numbers': [], 'contain_digit': '', 'is_in_vocabulary': '', 'is_out_of_vocabulary': '', 'is_required': 'true', 'type': 'word', 'is_in_output': 'false'}